src/modules/participa/participa.pug
extends ../../components/head/head

block info 
    -var pageID = 'perfil'
    -var title = 'Mi Perfíl' + ' - ' + title_tag
    -var pageClasses = 'page body'
    //- -var description = 'Otro homepage creado con'


//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        section#section-perfil.wk-section
            .wk-section-wrap 

                h3.section-title.ui-title-big.ui-text-center PARTICIPA

                form.data-profile 
                    .wk-cols
                        .wk-col.data-profile__col.data-profile__col-data
                            h3.data-profile__section-title.ui-title-small.ui-text-center DATOS PERSONALES
                            -
                                // Key label en el array labels corresponde a:
                                // Label : requerido
                                var labels ={
                                    'Colonia': false, 
                                    'Calle': true, 
                                    'No ext': true, 
                                    'No int': false, 
                                    'Código postal' : true, 
                                    'Ciudad': false, 
                                    'Estado': false, 
                                    'Teléfono': false 
                                }
                            - var contador = 0
                            each val, index in labels
                                -contador++
                                +input(index, 'text', '', contador, val)

                        .wk-col.data-profile__col.data-profile__col-id
                            h3.data-profile__section-title.ui-title-small.ui-text-center COMPROBANTE DE DOMICILIO
                            input.perfil-data.perfil-data-file#data-comprobante-file(type="file" name="comprobante-de-domicilio")
                            h3.data-profile__section-title.ui-title-small.ui-text-center IDENTIFICACIÓN OFICIAL
                            input.perfil-data.perfil-data-file#data-comprobante-file(type="file" name="id-oficial")
                        .wk-col.data-profile__col.data-profile__col-asset
                            h3.data-profile__section-title.ui-title-small.ui-text-center TU DISEÑO
                            input.perfil-data.perfil-data-file#data-diseno(type="file" name="id-oficial")
                            p.ui-text-center 
                                a(href="diseno-cargado").ui-btn.ui-btn_yellow Guardar

    
    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer

dist/participa.html
<!DOCTYPE html>
<html lang="es_MX" dir="ltr">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <title>Mi Perfíl - Qué Chulada de Tarjeta | Bancoppel</title>
    <meta name="description" content="Diseña la tarjeta de BanCoppel, participa y Gana 100,000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="icon" type="image/ico" href="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/favicon.png">
    <link rel="stylesheet" href="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/css/style.min.css">
  </head>
  <body class="wk-wrap-1300 page body" id="perfil">
    <header class="wk-section" id="main-header">
      <div class="wk-section-wrap">
        <div class="wk-cols-m">
          <div class="wk-col header__col header__col-logo"><a class="logo header__logo" id="main-logo" href="index"> <img class="header__logoImg" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/bancoppel-logo.png"></a></div>
          <div class="wk-col header__col header__col-menu">
            <nav class="header__nav">
              <ul class="menu header__menu">
                <li class="header__menuItem"><a href="index">Inicio</a></li>
                <li class="header__menuItem is-active"><a href="bases">Bases</a></li>
                <li class="header__menuItem"><a href="login">Inicia sesión</a></li>
                <li class="header__menuItem"><a href="registro">Registrate</a></li>
                <li class="header__menuItem"><a href="perfil">Mi perfíl</a></li>
                <li class="header__menuItem"><a href="participa">Participa</a></li>
              </ul>
            </nav>
          </div>
          <div class="wk-col header__col header__col-offcanvas"><span id="header__offcanvas-icon"> <i class="fa fa-bars"></i></span></div>
        </div>
      </div>
    </header>
    <main role="main">
      <section class="wk-section" id="section-perfil">
        <div class="wk-section-wrap"> 
          <h3 class="section-title ui-title-big ui-text-center">PARTICIPA</h3>
          <form class="data-profile"> 
            <div class="wk-cols">
              <div class="wk-col data-profile__col data-profile__col-data">
                <h3 class="data-profile__section-title ui-title-small ui-text-center">DATOS PERSONALES</h3><span class="in-solid perfil-data" id="data-colonia">
                  <label class="perfl-data__label" for="data-input-colonia">Colonia
                  </label>
                  <input class="perfil-data__input" id="data-input-colonia" type="text" placeholder="" tabindex="1"/></span><span class="in-solid perfil-data" id="data-calle">
                  <label class="perfl-data__label" for="data-input-calle">Calle<sup class="in-solid__required">*</sup>
                  </label>
                  <input class="perfil-data__input" id="data-input-calle" type="text" placeholder="" tabindex="2"/></span><span class="in-solid perfil-data" id="data-no-ext">
                  <label class="perfl-data__label" for="data-input-no-ext">No ext<sup class="in-solid__required">*</sup>
                  </label>
                  <input class="perfil-data__input" id="data-input-no-ext" type="text" placeholder="" tabindex="3"/></span><span class="in-solid perfil-data" id="data-no-int">
                  <label class="perfl-data__label" for="data-input-no-int">No int
                  </label>
                  <input class="perfil-data__input" id="data-input-no-int" type="text" placeholder="" tabindex="4"/></span><span class="in-solid perfil-data" id="data-codigo-postal">
                  <label class="perfl-data__label" for="data-input-codigo-postal">Código postal<sup class="in-solid__required">*</sup>
                  </label>
                  <input class="perfil-data__input" id="data-input-codigo-postal" type="text" placeholder="" tabindex="5"/></span><span class="in-solid perfil-data" id="data-ciudad">
                  <label class="perfl-data__label" for="data-input-ciudad">Ciudad
                  </label>
                  <input class="perfil-data__input" id="data-input-ciudad" type="text" placeholder="" tabindex="6"/></span><span class="in-solid perfil-data" id="data-estado">
                  <label class="perfl-data__label" for="data-input-estado">Estado
                  </label>
                  <input class="perfil-data__input" id="data-input-estado" type="text" placeholder="" tabindex="7"/></span><span class="in-solid perfil-data" id="data-telefono">
                  <label class="perfl-data__label" for="data-input-telefono">Teléfono
                  </label>
                  <input class="perfil-data__input" id="data-input-telefono" type="text" placeholder="" tabindex="8"/></span>
              </div>
              <div class="wk-col data-profile__col data-profile__col-id">
                <h3 class="data-profile__section-title ui-title-small ui-text-center">COMPROBANTE DE DOMICILIO</h3>
                <input class="perfil-data perfil-data-file" id="data-comprobante-file" type="file" name="comprobante-de-domicilio">
                <h3 class="data-profile__section-title ui-title-small ui-text-center">IDENTIFICACIÓN OFICIAL</h3>
                <input class="perfil-data perfil-data-file" id="data-comprobante-file" type="file" name="id-oficial">
              </div>
              <div class="wk-col data-profile__col data-profile__col-asset">
                <h3 class="data-profile__section-title ui-title-small ui-text-center">TU DISEÑO</h3>
                <input class="perfil-data perfil-data-file" id="data-diseno" type="file" name="id-oficial">
                <p class="ui-text-center"> <a class="ui-btn ui-btn_yellow" href="diseno-cargado">Guardar</a></p>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="wk-section" id="main-footer"> 
      <div class="wk-section-wrap"> 
        <div class="footer__sup">
          <div class="wk-cols"> 
            <div class="wk-col"> 
              <div class="footer__social">
                <h3 class="social__title">Siguienos en:</h3><a class="social__link" href="http://fb.me/bancoppel" target="_blank"><span class="social__icon fab fa-facebook-f"></span></a>
              </div>
            </div>
            <div class="wk-col">
              <nav class="footer__nav"> <span class="footer__navItem">
                  <Copyright>&copy; <strong>BanCoppel</strong> <span id="footer__year"></i></Copyright>
                  <script>
                    var copyRightDate = new Date();
                    document.getElementById('footer__year').innerHTML = copyRightDate.getFullYear();
                  </script></span><a class="footer__navItem" href="aviso-de-privacidad">Aviso de privacidad</a><a class="footer__navItem" href="terminos-y-condiciones">Términos y condiciones</a></nav>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="offcanvas-nav"> 
      <ul class="menu header__menu">
        <li class="header__menuItem header__menuItem-home is-active"><a href="index"><span class="icon fa fa-home"></span><span>Inicio</span></a></li>
        <li class="header__menuItem is-active"><a href="bases">Bases</a></li>
        <li class="header__menuItem"><a href="bases">Bases</a></li>
        <li class="header__menuItem"><a href="login">Inicia sesión</a></li>
        <li class="header__menuItem"><a href="registro">Registrate</a></li>
        <li class="header__menuItem"><a href="perfil">Mi perfíl</a></li>
        <li class="header__menuItem"><a href="participa">Participa</a></li>
      </ul>
      <ul class="menu header__menu_bot">
        <li class="header__menuItem"><a href="terminos-y-condiciones">Términos y condiciones</a></li>
        <li class="header__menuItem"><a href="aviso-de-privacidad">Aviso de privacidad</a></li>
      </ul>
    </div>
    <ul class="views3jsa12">
      <style>
        .views3jsa12 {
            list-style: disc;
            list-style-position: inside;
            position: fixed;
            top: 20%;
            z-index: 22;
            left: 0;
            background: white;
            font-size: 11px;
            padding: 20px;
            transition: all .25s ease-in-out;
            box-shadow: 0px 6px 22px rgba(0,0,0,.2);
            transform: translateX(-100%);
            background-color: #cfd1d1;
        }
        .views3jsa12 li {
            border-bottom: 1px solid #959393;
            padding: 6px 0;
        }
        .proto-nav-is-active .views3jsa12 {
            transform: translateX(0%);
        }
        .proto-nav-is-active .views3jsa12 .icon {
            transform: rotate(180deg);
        }
        .views3jsa12 .icon {
            position: absolute;
            top: 0;
            left: 100%;
            background-color: inherit;
            padding: 20px;
            cursor: pointer;
        }
        
      </style><span class="icon"><i class="fa fa-chevron-right"></i></span>
      <li><a href="index">Home</a></li>
      <li><a href="bases">Bases</a></li>
      <li><a href="registro">Registro</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="recuperacion-de-contrasena">Recuperación de <br>contraseña</a></li>
      <li><a href="cuenta-vinculada">Cuenta vinculada</a></li>
      <li><a href="loged">Loged</a></li>
      <li><a href="perfil">Perfil</a></li>
      <li><a href="diseno-cargado">Diseño cargado</a></li>
      <li><a href="votacion"><strong>Votación</strong></a></li>
      <li><a href="tarjeta">Tarjeta</a></li>
      <li><a href="participa">Participa</a></li>
      <li><a href="aviso-de-privacidad">Aviso de <br>privacidad</a></li>
      <li><a href="terminos-y-condiciones">Términos y <br>condiciones</a></li>
    </ul>
    <script type="text/javascript" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/js/scripts.min.js"></script>
    <script type="text/javascript" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/vendor/sweetalert2/sweetalert2.js"></script>
    <script>
      $('#login-facebook').click(function(){
          Swal.fire({
              title: 'Registro satisfactorio!',
              text: 'Revisa tu correo, recibirás una liga para validar tu cuenta.',
              icon: 'success',
              confirmButtonText: 'Aceptar'
          }).then( () => {
              window.location = 'cuenta-vinculada';  
          });
      });
      
      $('.views3jsa12 .icon').click(function() {
          $('body').toggleClass('proto-nav-is-active');
      });
    </script>
  </body>
</html>
