src/modules/votacion/votacion.pug
extends ../../components/head/head

block info 
    -var pageID = 'votacion'
    -var title = 'Vota por tu tarjeta favorita' + ' - ' + title_tag
    -var pageClasses = 'page body'
    -var description = 'Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!'

block openGraph
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:type" content="article")
    meta(property="og:image" content=imageUrl + '/facebook-que-chulada-de-tarjeta.png')

block twitterCards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content='@' + twitterUser)
    meta(name="twitter:creator" content='@' + twitterUser)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=imageUrl + 'twitter-que-chulada-de-tarjeta.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-votacion.wk-section: .wk-section-wrap

            .v-filter 
                span.v-filter__label Categorías
                .custom-select 
                    select 
                        - 
                            var options = [
                                'Todas',
                                'Categoría uno',
                                'Otra categoría',
                                'Una cateogoría más',
                                'La cuarta categoría'
                            ]
                        each val, index in options
                            option(value=index)= val 

            .v-samples
                -for(i = 1; i <= 16; i++) 
                    a.v-sample(href="tarjeta?=rafael-disneros")
                        img.v-sample__img(src="https://via.placeholder.com/700x380?text=Sample") 
                        span.v-sample__data
                            span.v-sample__data-info
                                span.v-sample__name Rafael Cisneros Maya
                                span.v-sample__label Diseño
                            span.v-sample__data-liked
                                if i % 2 == 1
                                    i.v-sample__data-liked-icon.fas.fa-heart.pulse
                                else 
                                    i.v-sample__data-liked-icon.far.fa-heart.pulse

            .v-pag 
                a.v-pag__prev(href="?page=1"): span.fas.fa-chevron-left
                -for(i = 1; i <= 5; i++) 
                    if i == 2
                        a(href="?page=" + i).v-pag__num.active= i
                    else 
                        a(href="?page=" + i).v-pag__num= i
                a.v-pag__next(href="?page=5"): span.fas.fa-chevron-right

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer

dist/votacion.html
<!DOCTYPE html>
<html lang="es_MX" dir="ltr">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <title>Vota por tu tarjeta favorita - Qué Chulada de Tarjeta | Bancoppel</title>
    <meta name="description" content="Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="icon" type="image/ico" href="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/favicon.png">
    <link rel="stylesheet" href="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/css/style.min.css">
    <meta property="og:title" content="Vota por tu tarjeta favorita - Qué Chulada de Tarjeta | Bancoppel">
    <meta property="og:description" content="Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img//facebook-que-chulada-de-tarjeta.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bancoppel">
    <meta name="twitter:creator" content="@bancoppel">
    <meta name="twitter:title" content="Vota por tu tarjeta favorita - Qué Chulada de Tarjeta | Bancoppel">
    <meta name="twitter:description" content="Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!">
    <meta name="twitter:image" content="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/twitter-que-chulada-de-tarjeta.png">
  </head>
  <body class="wk-wrap-1300 page body" id="votacion">
    <header class="wk-section" id="main-header">
      <div class="wk-section-wrap">
        <div class="wk-cols-m">
          <div class="wk-col header__col header__col-logo"><a class="logo header__logo" id="main-logo" href="index"> <img class="header__logoImg" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/bancoppel-logo.png"></a></div>
          <div class="wk-col header__col header__col-menu">
            <nav class="header__nav">
              <ul class="menu header__menu">
                <li class="header__menuItem"><a href="index">Inicio</a></li>
                <li class="header__menuItem is-active"><a href="bases">Bases</a></li>
                <li class="header__menuItem"><a href="login">Inicia sesión</a></li>
                <li class="header__menuItem"><a href="registro">Registrate</a></li>
                <li class="header__menuItem"><a href="perfil">Mi perfíl</a></li>
                <li class="header__menuItem"><a href="participa">Participa</a></li>
              </ul>
            </nav>
          </div>
          <div class="wk-col header__col header__col-offcanvas"><span id="header__offcanvas-icon"> <i class="fa fa-bars"></i></span></div>
        </div>
      </div>
    </header>
    <main role="main">
      <article class="wk-section" id="section-votacion">
        <div class="wk-section-wrap">
          <div class="v-filter"> <span class="v-filter__label">Categorías</span>
            <div class="custom-select"> 
              <select> 
                <option value="0">Todas</option>
                <option value="1">Categoría uno</option>
                <option value="2">Otra categoría</option>
                <option value="3">Una cateogoría más</option>
                <option value="4">La cuarta categoría</option>
              </select>
            </div>
          </div>
          <div class="v-samples"><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon fas fa-heart pulse"></i></span></span></a><a class="v-sample" href="tarjeta?=rafael-disneros"><img class="v-sample__img" src="https://via.placeholder.com/700x380?text=Sample"><span class="v-sample__data"><span class="v-sample__data-info"><span class="v-sample__name">Rafael Cisneros Maya</span><span class="v-sample__label">Diseño</span></span><span class="v-sample__data-liked"><i class="v-sample__data-liked-icon far fa-heart pulse"></i></span></span></a>
          </div>
          <div class="v-pag"> <a class="v-pag__prev" href="?page=1"><span class="fas fa-chevron-left"></span></a><a class="v-pag__num" href="?page=1">1</a><a class="v-pag__num active" href="?page=2">2</a><a class="v-pag__num" href="?page=3">3</a><a class="v-pag__num" href="?page=4">4</a><a class="v-pag__num" href="?page=5">5</a><a class="v-pag__next" href="?page=5"><span class="fas fa-chevron-right"></span></a>
          </div>
        </div>
      </article>
    </main>
    <footer class="wk-section" id="main-footer"> 
      <div class="wk-section-wrap"> 
        <div class="footer__sup">
          <div class="wk-cols"> 
            <div class="wk-col"> 
              <div class="footer__social">
                <h3 class="social__title">Siguienos en:</h3><a class="social__link" href="http://fb.me/bancoppel" target="_blank"><span class="social__icon fab fa-facebook-f"></span></a>
              </div>
            </div>
            <div class="wk-col">
              <nav class="footer__nav"> <span class="footer__navItem">
                  <Copyright>&copy; <strong>BanCoppel</strong> <span id="footer__year"></i></Copyright>
                  <script>
                    var copyRightDate = new Date();
                    document.getElementById('footer__year').innerHTML = copyRightDate.getFullYear();
                  </script></span><a class="footer__navItem" href="aviso-de-privacidad">Aviso de privacidad</a><a class="footer__navItem" href="terminos-y-condiciones">Términos y condiciones</a></nav>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="offcanvas-nav"> 
      <ul class="menu header__menu">
        <li class="header__menuItem header__menuItem-home is-active"><a href="index"><span class="icon fa fa-home"></span><span>Inicio</span></a></li>
        <li class="header__menuItem is-active"><a href="bases">Bases</a></li>
        <li class="header__menuItem"><a href="bases">Bases</a></li>
        <li class="header__menuItem"><a href="login">Inicia sesión</a></li>
        <li class="header__menuItem"><a href="registro">Registrate</a></li>
        <li class="header__menuItem"><a href="perfil">Mi perfíl</a></li>
        <li class="header__menuItem"><a href="participa">Participa</a></li>
      </ul>
      <ul class="menu header__menu_bot">
        <li class="header__menuItem"><a href="terminos-y-condiciones">Términos y condiciones</a></li>
        <li class="header__menuItem"><a href="aviso-de-privacidad">Aviso de privacidad</a></li>
      </ul>
    </div>
    <ul class="views3jsa12">
      <style>
        .views3jsa12 {
            list-style: disc;
            list-style-position: inside;
            position: fixed;
            top: 20%;
            z-index: 22;
            left: 0;
            background: white;
            font-size: 11px;
            padding: 20px;
            transition: all .25s ease-in-out;
            box-shadow: 0px 6px 22px rgba(0,0,0,.2);
            transform: translateX(-100%);
            background-color: #cfd1d1;
        }
        .views3jsa12 li {
            border-bottom: 1px solid #959393;
            padding: 6px 0;
        }
        .proto-nav-is-active .views3jsa12 {
            transform: translateX(0%);
        }
        .proto-nav-is-active .views3jsa12 .icon {
            transform: rotate(180deg);
        }
        .views3jsa12 .icon {
            position: absolute;
            top: 0;
            left: 100%;
            background-color: inherit;
            padding: 20px;
            cursor: pointer;
        }
        
      </style><span class="icon"><i class="fa fa-chevron-right"></i></span>
      <li><a href="index">Home</a></li>
      <li><a href="bases">Bases</a></li>
      <li><a href="registro">Registro</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="recuperacion-de-contrasena">Recuperación de <br>contraseña</a></li>
      <li><a href="cuenta-vinculada">Cuenta vinculada</a></li>
      <li><a href="loged">Loged</a></li>
      <li><a href="perfil">Perfil</a></li>
      <li><a href="diseno-cargado">Diseño cargado</a></li>
      <li><a href="votacion"><strong>Votación</strong></a></li>
      <li><a href="tarjeta">Tarjeta</a></li>
      <li><a href="participa">Participa</a></li>
      <li><a href="aviso-de-privacidad">Aviso de <br>privacidad</a></li>
      <li><a href="terminos-y-condiciones">Términos y <br>condiciones</a></li>
    </ul>
    <script type="text/javascript" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/js/scripts.min.js"></script>
    <script type="text/javascript" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/vendor/sweetalert2/sweetalert2.js"></script>
    <script>
      $('#login-facebook').click(function(){
          Swal.fire({
              title: 'Registro satisfactorio!',
              text: 'Revisa tu correo, recibirás una liga para validar tu cuenta.',
              icon: 'success',
              confirmButtonText: 'Aceptar'
          }).then( () => {
              window.location = 'cuenta-vinculada';  
          });
      });
      
      $('.views3jsa12 .icon').click(function() {
          $('body').toggleClass('proto-nav-is-active');
      });
    </script>
  </body>
</html>
