src/modules/tarjeta/tarjeta.pug
extends ../../components/head/head

block info 
    -var pageID = 'muestra-tarjeta'
    -var title = 'Vota por Rafael Cisneros Maya' + ' - ' + title_tag
    -var pageClasses = 'page body'
    -var description = 'Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!'

block openGraph
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:type" content="article")
    meta(property="og:image" content=imageUrl + '/facebook-que-chulada-de-tarjeta.png')

block twitterCards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content='@' + twitterUser)
    meta(name="twitter:creator" content='@' + twitterUser)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=imageUrl + 'twitter-que-chulada-de-tarjeta.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-muestra-tarjeta.wk-section: .wk-section-wrap

            .t-muestra 
                .t-muestra__name.ui-title-big Rafael Cisneros Maya
                .t-muestra__sample
                    img(src="https://via.placeholder.com/700x380?text=Sample")
                .t-muestra__links
                    a.ui-btn.ui-btn_yellow(href="#").t-muestra__links-like Me gusta
                    span.t-muestra__links-share
                        button.ui-btn.ui-btn_black(href="#").t-muestra__links-share-trigger
                            span.icon: i.fa.fa-times
                            span.text Compartir
                        span.t-muestra__links-share-group
                            -var copy = 'Vota por mi diseño de tarjeta para Bancoppel http://url.com/tarjeta/miguelcisneros'
                            -var copyComposed = copy + ' | ' + title_tag +' | '+ description
                            a.ui-btn.ui-btn_facebook.t-muestra__links-share_single(href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://url.com/tarjeta/miguelcisneros','pagename','resizable,height=600,width=680'); return false;"): span.fab.fa-facebook-f
                            a.ui-btn.ui-btn_twitter.t-muestra__links-share_single(href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Vota por mi diseño de tarjeta en http://url.com/tarjeta/miguelcisneros"+description+" @bancoppel #quechuladadetarjeta','pagename','resizable,height=600,width=680'); return false;"): span.fab.fa-twitter
                            a.ui-btn.ui-btn_whatsapp.t-muestra__links-share_single(href="whatsapp://send?text=" + copyComposed data-href="http://url.com/tarjeta/miguelcisneros" data-action="share/whatsapp/share"): span.fab.fa-whatsapp
                            a.ui-btn.ui-btn_lightgray.t-muestra__links-share_single(href="mailto:?subject=Vota por mi diseño de tarjeta en BanCoppel&body="+copyComposed+""): span.far.fa-envelope



            

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer

dist/tarjeta.html
<!DOCTYPE html>
<html lang="es_MX" dir="ltr">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <title>Vota por Rafael Cisneros Maya - Qué Chulada de Tarjeta | Bancoppel</title>
    <meta name="description" content="Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="icon" type="image/ico" href="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/favicon.png">
    <link rel="stylesheet" href="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/css/style.min.css">
    <meta property="og:title" content="Vota por Rafael Cisneros Maya - Qué Chulada de Tarjeta | Bancoppel">
    <meta property="og:description" content="Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img//facebook-que-chulada-de-tarjeta.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bancoppel">
    <meta name="twitter:creator" content="@bancoppel">
    <meta name="twitter:title" content="Vota por Rafael Cisneros Maya - Qué Chulada de Tarjeta | Bancoppel">
    <meta name="twitter:description" content="Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!">
    <meta name="twitter:image" content="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/twitter-que-chulada-de-tarjeta.png">
  </head>
  <body class="wk-wrap-1300 page body" id="muestra-tarjeta">
    <header class="wk-section" id="main-header">
      <div class="wk-section-wrap">
        <div class="wk-cols-m">
          <div class="wk-col header__col header__col-logo"><a class="logo header__logo" id="main-logo" href="index"> <img class="header__logoImg" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/img/bancoppel-logo.png"></a></div>
          <div class="wk-col header__col header__col-menu">
            <nav class="header__nav">
              <ul class="menu header__menu">
                <li class="header__menuItem"><a href="index">Inicio</a></li>
                <li class="header__menuItem is-active"><a href="bases">Bases</a></li>
                <li class="header__menuItem"><a href="login">Inicia sesión</a></li>
                <li class="header__menuItem"><a href="registro">Registrate</a></li>
                <li class="header__menuItem"><a href="perfil">Mi perfíl</a></li>
                <li class="header__menuItem"><a href="participa">Participa</a></li>
              </ul>
            </nav>
          </div>
          <div class="wk-col header__col header__col-offcanvas"><span id="header__offcanvas-icon"> <i class="fa fa-bars"></i></span></div>
        </div>
      </div>
    </header>
    <main role="main">
      <article class="wk-section" id="section-muestra-tarjeta">
        <div class="wk-section-wrap">
          <div class="t-muestra"> 
            <div class="t-muestra__name ui-title-big">Rafael Cisneros Maya</div>
            <div class="t-muestra__sample"><img src="https://via.placeholder.com/700x380?text=Sample"></div>
            <div class="t-muestra__links"><a class="ui-btn ui-btn_yellow t-muestra__links-like" href="#">Me gusta</a><span class="t-muestra__links-share">
                <button class="ui-btn ui-btn_black t-muestra__links-share-trigger" href="#"><span class="icon"><i class="fa fa-times"></i></span><span class="text">Compartir</span></button><span class="t-muestra__links-share-group"><a class="ui-btn ui-btn_facebook t-muestra__links-share_single" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://url.com/tarjeta/miguelcisneros','pagename','resizable,height=600,width=680'); return false;"><span class="fab fa-facebook-f"></span></a><a class="ui-btn ui-btn_twitter t-muestra__links-share_single" href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Vota por mi diseño de tarjeta en http://url.com/tarjeta/miguelcisnerosVota por el diseño de la tarjeta de BanCoppel, ¡Participa! @bancoppel #quechuladadetarjeta','pagename','resizable,height=600,width=680'); return false;"><span class="fab fa-twitter"></span></a><a class="ui-btn ui-btn_whatsapp t-muestra__links-share_single" href="whatsapp://send?text=Vota por mi diseño de tarjeta para Bancoppel http://url.com/tarjeta/miguelcisneros | Qué Chulada de Tarjeta | Bancoppel | Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!" data-href="http://url.com/tarjeta/miguelcisneros" data-action="share/whatsapp/share"><span class="fab fa-whatsapp"></span></a><a class="ui-btn ui-btn_lightgray t-muestra__links-share_single" href="mailto:?subject=Vota por mi diseño de tarjeta en BanCoppel&amp;body=Vota por mi diseño de tarjeta para Bancoppel http://url.com/tarjeta/miguelcisneros | Qué Chulada de Tarjeta | Bancoppel | Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!"><span class="far fa-envelope"></span></a></span></span></div>
          </div>
        </div>
      </article>
    </main>
    <footer class="wk-section" id="main-footer"> 
      <div class="wk-section-wrap"> 
        <div class="footer__sup">
          <div class="wk-cols"> 
            <div class="wk-col"> 
              <div class="footer__social">
                <h3 class="social__title">Siguienos en:</h3><a class="social__link" href="http://fb.me/bancoppel" target="_blank"><span class="social__icon fab fa-facebook-f"></span></a>
              </div>
            </div>
            <div class="wk-col">
              <nav class="footer__nav"> <span class="footer__navItem">
                  <Copyright>&copy; <strong>BanCoppel</strong> <span id="footer__year"></i></Copyright>
                  <script>
                    var copyRightDate = new Date();
                    document.getElementById('footer__year').innerHTML = copyRightDate.getFullYear();
                  </script></span><a class="footer__navItem" href="aviso-de-privacidad">Aviso de privacidad</a><a class="footer__navItem" href="terminos-y-condiciones">Términos y condiciones</a></nav>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="offcanvas-nav"> 
      <ul class="menu header__menu">
        <li class="header__menuItem header__menuItem-home is-active"><a href="index"><span class="icon fa fa-home"></span><span>Inicio</span></a></li>
        <li class="header__menuItem is-active"><a href="bases">Bases</a></li>
        <li class="header__menuItem"><a href="bases">Bases</a></li>
        <li class="header__menuItem"><a href="login">Inicia sesión</a></li>
        <li class="header__menuItem"><a href="registro">Registrate</a></li>
        <li class="header__menuItem"><a href="perfil">Mi perfíl</a></li>
        <li class="header__menuItem"><a href="participa">Participa</a></li>
      </ul>
      <ul class="menu header__menu_bot">
        <li class="header__menuItem"><a href="terminos-y-condiciones">Términos y condiciones</a></li>
        <li class="header__menuItem"><a href="aviso-de-privacidad">Aviso de privacidad</a></li>
      </ul>
    </div>
    <ul class="views3jsa12">
      <style>
        .views3jsa12 {
            list-style: disc;
            list-style-position: inside;
            position: fixed;
            top: 20%;
            z-index: 22;
            left: 0;
            background: white;
            font-size: 11px;
            padding: 20px;
            transition: all .25s ease-in-out;
            box-shadow: 0px 6px 22px rgba(0,0,0,.2);
            transform: translateX(-100%);
            background-color: #cfd1d1;
        }
        .views3jsa12 li {
            border-bottom: 1px solid #959393;
            padding: 6px 0;
        }
        .proto-nav-is-active .views3jsa12 {
            transform: translateX(0%);
        }
        .proto-nav-is-active .views3jsa12 .icon {
            transform: rotate(180deg);
        }
        .views3jsa12 .icon {
            position: absolute;
            top: 0;
            left: 100%;
            background-color: inherit;
            padding: 20px;
            cursor: pointer;
        }
        
      </style><span class="icon"><i class="fa fa-chevron-right"></i></span>
      <li><a href="index">Home</a></li>
      <li><a href="bases">Bases</a></li>
      <li><a href="registro">Registro</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="recuperacion-de-contrasena">Recuperación de <br>contraseña</a></li>
      <li><a href="cuenta-vinculada">Cuenta vinculada</a></li>
      <li><a href="loged">Loged</a></li>
      <li><a href="perfil">Perfil</a></li>
      <li><a href="diseno-cargado">Diseño cargado</a></li>
      <li><a href="votacion"><strong>Votación</strong></a></li>
      <li><a href="tarjeta">Tarjeta</a></li>
      <li><a href="participa">Participa</a></li>
      <li><a href="aviso-de-privacidad">Aviso de <br>privacidad</a></li>
      <li><a href="terminos-y-condiciones">Términos y <br>condiciones</a></li>
    </ul>
    <script type="text/javascript" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/js/scripts.min.js"></script>
    <script type="text/javascript" src="http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/assets/vendor/sweetalert2/sweetalert2.js"></script>
    <script>
      $('#login-facebook').click(function(){
          Swal.fire({
              title: 'Registro satisfactorio!',
              text: 'Revisa tu correo, recibirás una liga para validar tu cuenta.',
              icon: 'success',
              confirmButtonText: 'Aceptar'
          }).then( () => {
              window.location = 'cuenta-vinculada';  
          });
      });
      
      $('.views3jsa12 .icon').click(function() {
          $('body').toggleClass('proto-nav-is-active');
      });
    </script>
  </body>
</html>
